{% set cep_val = cep|default('') %}
{% set rua_val = rua|default('') %}
{% set numero_val = numero|default('') %}
{% set bairro_val = bairro|default('') %}
{% set cidade_val = cidade|default('') %}
{% set estado_val = estado|default('') %}
<div class="endereco-correios" data-endereco-correios>
    <div class="ec-cep">
        <label>CEP</label>
        <input type="text" name="cep" value="{{ cep_val }}" placeholder="00000-000" data-cep autocomplete="postal-code">
        <div class="ec-hint">Digite o CEP ou busque pelo logradouro.</div>
    </div>
    <div class="ec-uf">
        <label>UF</label>
        <input type="text" name="estado" value="{{ estado_val }}" maxlength="2" placeholder="RJ">
    </div>
    <div class="ec-cidade">
        <label>Cidade</label>
        <input type="text" name="cidade" value="{{ cidade_val }}" placeholder="Cidade">
    </div>
    <div class="ec-num">
        <label>Número</label>
        <input type="text" name="numero" value="{{ numero_val }}" placeholder="123">
    </div>
    <div class="ec-rua endereco-logradouro">
        <label>Logradouro (Correios)</label>
        <input type="text" name="rua" value="{{ rua_val }}" data-logradouro autocomplete="off" placeholder="Rua, avenida... ou Rua X, Cidade, UF">
        <button type="button" class="ec-buscar" data-buscar-logradouro>Buscar logradouro nos Correios</button>
    </div>
    <div class="ec-bairro">
        <label>Bairro</label>
        <input type="text" name="bairro" value="{{ bairro_val }}" placeholder="Bairro">
    </div>
</div>
