{% set _name = hora_name|default('horas_mes') %}
{% set _valor = hora_valor|default(0) %}
{% set _h = _valor|hora_h %}
{% set _m = _valor|hora_m %}
<div class="hora-picker" data-hora-picker>
    <div class="hora-picker-linhas">
        <label class="hora-sel">
            <span>Horas</span>
            <select data-hora-h>
                {% for n in range(0, 221) %}
                <option value="{{ n }}" {% if _h == n %}selected{% endif %}>{{ n }}</option>
                {% endfor %}
            </select>
        </label>
        <label class="hora-sel">
            <span>Minutos</span>
            <select data-hora-m>
                {% for n in [0, 15, 30, 45, 50] %}
                <option value="{{ n }}" {% if _m == n %}selected{% endif %}>{{ '%02d'|format(n) }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <input type="hidden" name="{{ _name }}" value="{% if _valor %}{{ '%.2f'|format(_valor|float) }}{% else %}0{% endif %}">
</div>
